Source: toddleglow
Section: unknown
Priority: extra
Maintainer: Dan Farnsworth <absltkaos@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd, python-all, python-setuptools
Standards-Version: 3.7.2
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: toddleglow
Architecture: all
Depends: ${misc:Depends}, python-arrow, python-flask, python-gevent, python-gevent-websocket
Suggests: python-piglow
Description: A Toddler Clock that will change colors based on user specified
  time intervals. This can be used in combination with Rasbpian and a PiGlow
  (made by pimoroni, https://shop.pimoroni.com/products/piglow). Alternatively
  you could use a screen/monitor from a laptop or old cellphone.
